#################
## Eclipse
#################

*.pydevproject
.project
.attic
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.class
local.properties
.classpath
.settings/
.loadpath
target/
easynode.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
.cache